

:root {
  font-family: proxima-nova, sans-serif;
  font-style: normal;

  color-scheme: white;

  background-color: #1A2C38;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind components;
@tailwind base;
@tailwind utilities;

